data/
result/
embeddings/
logs/
embedding_test/src/baseline/gcn/build
embedding_test/src/baseline/gcn/dist
embedding_test/src/baseline/gcn/gcn.egg-info
models/
figure/
weight/

*.pyc
*.swp
*~
*.log
*.txt
*.bin
saving*.py
